.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
        p. 
          Node style transfer
    div(id='navbar', class=['navbar-collapse','collapse'])
      ul.nav.navbar-nav
        li.navbar-item
          a(class='navbar-item', href='#') YOUR STYLE
        li
          a(class='navbar-item', href='#') STYLED IMAGES
         