extends layout

block content
    h1= title
    h2 Transfer the style
    .div.col-md-6
        .p.content Node style transfer gives you the possibility to take the style of one image and apply it to another
        .p.content Upload the image you want to style
        form(class='col-md-12', method='post', action='/uploadimage', enctype='multipart/form-data')
            div(id='browse_form_area', class='file-field input-field col-md-12')
                div(class='btn teal darken-3', type='button')
                    span Browse
                    input(type='file', name='file')
                div.file-path-wrapper
                    input(class='file-path validate', type='text')
            button(class='btn teal darken-3 col-md-12', type='submit') Upload
    .div.col-md-3.z-depth-1#contentimgbox
        img(id='contentimgsrc', class='col-md-12 img-responsive contentimgsrc', src='#{uploadedImagePath}')
    .div.col-md-12#styleimageselector
        .p.content#styleimageselectortext Pick one of the art pieces to transfer that style to you image
        .div.col-md-3.styleimagebox.z-depth-5.selectedstyleimagebox.waves-effect.waves-deep-green
            .div.col-md-12.styleimageboxtitle
                .p The great wave off Kanagawa
                .p Hokusai
            img(class='col-md-12 img-responive styleimageboximage', src='/images/style/art_the_great_wave_off_kanagawa.jpg', alt='The great wave off kanagawa')
        .div.col-md-3.styleimagebox.z-depth-1.waves-effect.waves-deep-green
            .div.col-md-12.styleimageboxtitle
                .p Starry night
                .p Vincent van gogh
            img(class='col-md-12 img-responive styleimageboximage', src='/images/style/art_starry_night.jpg', alt='Starry night')
        .div.col-md-3.styleimagebox.z-depth-1.waves-effect.waves-deep-green
            .div.col-md-12.styleimageboxtitle
                .p Cafe terrace at night
                .p Vincent van gogh
            img(class='col-md-12 img-responive styleimageboximage', src='/images/style/art_cafe_terrace_at_night.jpeg', alt='Cafe terrace at night')
        .div.col-md-3.styleimagebox.z-depth-1.waves-effect.waves-deep-green
            .div.col-md-12.styleimageboxtitle
                .p Heinrich Schlief
            img(class='col-md-12 img-responive styleimageboximage', src='/images/style/art_heinrich_schlief.jpg', alt='Heinrich Schlief')
        button(id='startstyletransferbtn', class='btn teal darken-3 col-md-offset-1 col-md-10', type='submit') Start style transfer

block scripts
    script(src='/javascripts/public_index.js')