extends layout

block content
    h1= title
    h2 Your style is being transfered
    .p Give our small server some time to work, you can explore other images in the STYLDE IMAGE tab, your will appear here as well, when it is done.
    