extends layout

block content
    h1= title
    h2 Your style is being transfered
    .p Give our small server some time to work, you can explore other images while you wait, your image will appear here as well, when it is done.
    .div.col-md-12
        include partials/results_template

