//# id 
//. class

body
  margin-top 50px
  background-color: white
  color: black
  font-size: 15px
  font-family: Roboto
  height 100%
  overflow auto

html
  overflow hidden
  height 100%

.navbar
  background #311B92
  color white

.navbar-header
  font-size 40px
  background #311B92
  color white

.navbar-item
  color white

.footer
  height 60px

h2
  padding-left 15px
  color #311B92

.content
  margin-top 10px

.form
  margin-top 10px

#contentimgbox
  height 230px
  width 300px
  padding 5px

#contentimgsrc
  height 100%
  width 100%
  object-fit contain

.invisibleinput
  visible false

#styleimageselector
  margin-bottom 10px

#styleimageselectortext
  margin-bottom 20px

.styleimagebox
  padding 10px

.styleimageboximage


.waves-effect.waves-deep-purple .waves-ripple
  background-color rgba(49, 27, 146, 0.65);

.waves-effect.waves-deep-green .waves-ripple
  background-color rgba(0, 105, 92, 0.65);

.selectedstyleimagebox
  background-color #00695C
  color white

.styleimageboxtitle
  min-height 55px
  padding 5px
  padding-bottom 10px

.img-responive
  padding 0px

#startstyletransferbtn
  maring-top 10px
  margin-bottom 100px

#results
  margin-bottom 110px;

.resultdiv
  height 400px
  padding 10px

.resultimg
  height 100%
  width 100%
  object-fit contain