body {
  margin-top: 50px;
  background-color: #fff;
  color: #000;
  font-size: 15px;
  font-family: Roboto;
}
.navbar {
  background: #311b92;
  color: #fff;
}
.navbar-header {
  font-size: 40px;
  background: #311b92;
  color: #fff;
}
.navbar-item {
  color: #fff;
}
.footer {
  height: 60px;
}
h2 {
  padding-left: 15px;
  color: #311b92;
}
.content {
  margin-top: 10px;
}
.form {
  margin-top: 10px;
}
#uploadedimg {
  height: 180px;
}
.invisibleinput {
  visible: false;
}
#styleimageselector {
  margin-top: 40px;
  margin-bottom: 5px;
}
.styleimagebox {
  padding: 10px;
}
.styleimageboxtitle {
  min-height: 55px;
  padding: 5px;
  padding-bottom: 10px;
}
.img-responive {
  padding: 0px;
}
