//# id 
//. class

body
	margin-top 50px
	background-color: white
	color: black	
	font-size: 15px
	font-family: Roboto

.navbar
	background : #311B92
	color: white

.navbar-header
	font-size 40px
	background : #311B92
	color: white

.navbar-item
	color: white

.footer
	height: 60px

h2
	padding-left 15px
	color: #311B92

.content
	margin-top 10px

.form
	margin-top 10px

#uploadedimg
	height 180px

.invisibleinput
	visible false

#styleimageselector
	margin-top 40px
	margin-bottom 5px

.styleimagebox
	padding 10 px

.styleimageboxtitle
	min-height 55px
	padding 5 px
	padding-bottom 10 px

.img-responive
	padding 0 px